<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edumag">
    <!-- 교육메거진 목록 -->
    <select id="edumagList" resultType="kr.co.teaspoon.dto.Edumag">
        <![CDATA[
        select * from edumag
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        order by resdate desc LIMIT #{postStart}, #{postCount}
        ]]>
    </select>
    <!-- 글 상세보기 -->
    <select id="edumagDetail" resultType="kr.co.teaspoon.dto.Edumag">
        select * from edumag where no=#{no}
    </select>
    <!-- 글 수 카운트 -->
    <select id="totalCount" resultType="integer" >
        <![CDATA[
        select count(*) from edumag
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <insert id="edumagInsert">
        insert into edumag values (#{link}, default, #{title}, #{content}, default, #{imagesLink}, default)
    </insert>
    <delete id="edumagDelete">
        delete from edumag where no=#{no}
    </delete>
    <update id="edumagEdit">
        update edumag set title=#{title}, content=#{content} where no=#{no}
    </update>
    <update id="visitCount">
        update edumag set visited=visited+1 where no=#{no}
    </update>

    <!--    리스트에 최신 글 불러오기-->
    <select id="newEdumag" resultType="kr.co.teaspoon.dto.Edumag">
        SELECT * FROM edumag ORDER BY resdate desc LIMIT 1;
    </select>

</mapper>